<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design Three</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="late-navigation-div">
  <div class="late-navigation-left">
    <h6>My HTML</h6>
  </div>
  <div class="late-navigation-center">
    <h2>ADMIRE MY HTML WEBSITE!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut debitis dolore doloribus eaque eligendi in iure labore modi natus,
      nesciunt nobis non odit quas quisquam quod rerum temporibus ullam veritatis!</p>
    <button>SUBCRIBE</button>
  </div>
  <div class="late-navigation-right">
     <button>Home</button>
    <button>About</button>
    <button>Gallery</button>
    <button>Login</button>
  </div>

</div>
<div class="late-content-wrapper">
  <h3>We're get what you want</h3>
  <p class="aa">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, distinctio fugiat laboriosam maiores numquam obcaecati quam quia recusandae sapiente voluptas?
    Aliquam consequatur nam officiis ut. Blanditiis ipsum iure nihil rem.</p>
  <button>SIGNIN</button>
</div>
<div></div>

</body>
</html>