<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design One</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="div-one">
  <img src="../static/images/img1.jpg" alt="No image">
</div>
<div class="div-two">
  <div class="div-two-card">
    <img src="../static/images/img2.jpg" alt="No image">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium labore, neque. Alias, commodi ducimus, earum error id ipsum
      laborum necessitatibus quam quod rem soluta vero. Dolorem dolores minima praesentium quaerat?</p>
  </div>
  <div class="div-two-card">
     <img src="../static/images/img3.jpg" alt="No image">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium labore, neque. Alias, commodi ducimus, earum error id ipsum
      laborum necessitatibus quam quod rem soluta vero. Dolorem dolores minima praesentium quaerat?</p>
  </div>
  <div class="div-two-card">
     <img src="../static/images/img4.jpg" alt="No image">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium labore, neque. Alias, commodi ducimus, earum error id ipsum
      laborum necessitatibus quam quod rem soluta vero. Dolorem dolores minima praesentium quaerat?</p>
  </div>
  <div class="div-two-card">
     <img src="../static/images/img5.jpg" alt="No image">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium labore, neque. Alias, commodi ducimus, earum error id ipsum
      laborum necessitatibus quam quod rem soluta vero. Dolorem dolores minima praesentium quaerat?</p>
  </div>
</div>
<div class="div-three"></div>
</body>
</html>