<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design Two</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="containers">
  <div class="navigation-div">
    <div class="navigation-left">
      <h3>Java</h3>
    </div>
    <div class="navigation-right">
      <img src="../static/images/img4.jpg" alt="No image">
      <button>Home</button>
      <button>About</button>
      <button>Gallery</button>
      <button>Other</button>

    </div>
  </div>
  <div class="content-wrapper">
    <div class="wrapper-left">

      <h1>Welcome to Java Script </h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aperiam blanditiis delectus doloribus eligendi enim error et
        fugiat fugit impedit ipsa ipsam minima necessitatibus nobis quas quasi repellendus, sint!</p>

      <button>sign up</button>
      <button>sign in</button>
    </div>
    <div class="wrapper-right">

    </div>
  </div>
</div>
</body>
</html>