<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="top">
  <h1>Cities</h1>
</div>
<div class="mid">
  <div class="mid-left">
    <ol>
      <li><a href="#">London</a></li>
      <li><a href="#">Paris</a></li>
      <li><a href="#">Tokyo</a></li>
    </ol>
  </div>
  <div class="mid-right">
    <h1>London</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi, eius fuga in quia recusandae voluptatum? Aliquid at consequatur
      cumque, cupiditate dolore excepturi laudantium libero omnis pariatur, quae similique, suscipit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto, at blanditiis consectetur cupiditate deleniti dolore earum, exercitationem
      laudantium magni maxime molestias neque odit quos reiciendis rem temporibus tenetur veritatis.</p>
  </div>
</div>
<div class="footer">
  <h5>Footer</h5>
</div>
</body>
</html>