<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New design</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="a">
    <img src="../static/images/img2.jpg" alt="No image">
</div>
<div class="b">
  <div class="b-core">
      <img src="../static/images/img1.jpg" alt="No image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ducimus id mollitia reiciendis! Ab atque eum, exercitationem ipsam
          molestiae nemo nobis non officia praesentium reprehenderit saepe sed ullam unde voluptatum!</p>


  </div>
  <div class="b-core">
      <img src="../static/images/img3.jpg" alt="No image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam atque autem, debitis dolore, doloribus ex illo iure minima
          odit officiis omnis pariatur quae quis quo repellendus rerum soluta voluptatum.</p>
  </div>
  <div class="b-core">

      <img src="../static/images/img4.jpg" alt="No image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad consequatur, corporis doloremque in non officia, optio quia sapiente
          voluptatem voluptates voluptatum. Assumenda at blanditiis facilis, magni nam nobis reiciendis.</p>
  </div>
  <div class="b-core">
      <img src="../static/images/img5.jpg" alt="No image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi architecto at cupiditate delectus dolorum eaque
          eius enim illum iusto labore laborum neque possimus provident quas rem, sint suscipit vitae.</p>
  </div>
</div>
<div class="c">
    <div class=""></div>
    <div></div>
</div>
</body>
</html>