<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body class="p">
<div class="d-side">
    <div class="d-top-left">
        <h4>BrandName</h4>
    </div>
        <div class="d-top-middle">
        <button>Home</button>
        <button>Products</button>
        <button>Packing</button>
        <button>Content</button>
        </div>
    <div class="d-top-center">
        <h6>Welcome</h6>
        <h1>Selling on the <br> internet like a pro</h1>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi, dolores eligendi
            fuga illo laudantium maxime necessitatibus numquam placeat possimus quasi quis
            quo repellat repellendus saepe sapiente suscipit tenetur, ut.</h5>
        <button class="butt-one">Get Quality Goods</button>
        <button class="butt-two">Login Name</button>
    </div>
    <div class="d-top-right">
        <button class="butt-three">Login</button>
        <button class="butt-four">Options</button>
    </div>
</div>
<br><br><br><br>
<div class="h-north">
    <div class="h-left">
        <img src="../static/images/gradient.jpg" alt="No image">
        <h5>training Courses</h5>
        <h6>eMobilis</h6>
        <p class="j">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cupiditate deleniti eligendi enim id nam omnis porro quam, quo tempora,
            tenetur voluptatem. Illum nulla praesentium, quam qui quo sequi sit.</p>
    </div>
    <div class="h-middle">
        <img src="../static/images/img3.jpg" alt="No image">
        <h5>training Courses</h5>
        <h6>eMobilis</h6>
        <p class="j">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut cumque deleniti, impedit itaque iure laudantium maiores, molestias nesciunt porro
            praesentium quas quo tenetur vel voluptatibus. Autem excepturi magnam mollitia!</p>
    </div>
    <div class="h-right">
        <img src="../static/images/img2.jpg" alt="No image">
        <h5>training Courses</h5>
        <h6>eMobilis</h6>
        <p class="l">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi consequuntur deleniti, distinctio dolores doloribus ea enim esse est ex facere
            fugiat fugit, labore nobis numquam perferendis quasi, quis voluptatibus!</p>
    </div>
</div>
</body>
</html>